.Summary {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  color: rgb(110, 125, 149);
  border-radius: 0.5rem;
  width: 40%;
  min-width: 375px;
}

.DetailedInfoArea {
  margin: 0 2rem 1rem 1rem;
}

.LeftoverMoney {
  text-align: center;
  font-size: 1.5rem;
}

@media (max-width: 1024px) {
  .Summary {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .LeftoverMoney {
    margin-bottom: 1.5rem;
  }
}
