.Calculator {
  box-sizing: border-box;
  width: 45%;
}

.MonthlyHeader {
  color: white;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.MonthlyInput {
  padding-left: 0.5rem;
}

.MonthlyInput input {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  line-height: 1.25;
  -webkit-appearance: none;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-bottom: 2rem;
  font-size: 18px;
  color: #8d8d8d;
}

.AddExpenseBtnContainer {
  padding-left: 0.5rem;
}

.AddExpenseBtn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgb(42, 217, 194);
  background-color: transparent;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 700;
  border-radius: 0.25rem;
  text-decoration: none;
  border-width: 2px;
  border-color: rgb(42, 217, 194);
  cursor: pointer;
  font-size: 17px;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .Calculator {
    width: 100%;
    margin-bottom: 3rem;
  }

  .MonthlyHeader {
    margin-top: 0;
  }
}
