.Header {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px;
  align-items: center;
  color: white;
  margin-bottom: 3rem;
}

.Header a {
  text-decoration: none;
  color: black;
}

.BtnSection {
  display: flex;
}

.BtnSection div {
  margin: 0 0.2rem;
}

.BtnSection div:nth-child(2) {
  margin-right: -25px;
}

.SignButton {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgb(42, 217, 194);
  color: rgb(4, 29, 89);
  display: inline-block;
  border-radius: 0.25rem;
  text-decoration: none;
  border-width: 2px;
  border-color: transparent;
  cursor: pointer;
  z-index: 0;
}

@media (min-width: 1024px) {
  .Header {
    margin-bottom: 8rem;
  }
}
